<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <!-- 다운로드한 CSS 연결 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container text-center mt-5">
  <h2 class="text-primary">Hello Spring Boot</h2>

  <div class="mt-4">
    <a class="btn btn-primary me-2" href="/member/save">회원가입</a>
    <a class="btn btn-success me-2" href="/member/login">로그인</a>
    <a class="btn btn-info" href="/member/">회원목록</a>
  </div>
</div>

</body>
</html>
